/* styles.css */

* {
    font-size: 12px;
}

@font-face {
  font-family: 'DM Sans';
  src: url('dm.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    font-family: "DM Sans", sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 80px;
    

    min-height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
}

#content {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    gap: 60px;
}

.poem {
    display: flex;
    padding: 50px;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    line-height: 2.5;
    border: 0.1px solid #23242c;
    overflow:visible;
    transition: background 1s ease in-out;
    z-index: -1;
}

.poemContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: left;
    min-height: 100%;
    max-height: 500px;
    overflow:visible;
}

.poemLine {
    transition: 1s ease;
    z-index: 1;
}

.links {
    line-height: 2;
    width: 100px;
}

#rightlinks {
    justify-items: flex-end;
}

button {
    background-color: #00000000;
    border: none;
    color: white;
    box-shadow: none;
    cursor: pointer;
    transition: 0.4s ease;
}

button:hover {
    color: #3b3c4a;
    transition: 0.4s ease;
}

button:active {
    color: #ffffff;
}

mark {
    background-color: #00000000;
    color:white;
    transition: inherit;
}

hr {
    width: 100%;
}


.inactive {
    color: #3b3c4a;
}

.inactive:hover {
    color: white;
}

#footer {
    align-self: flex-end;
}

/* GRADIENT */

#gradientText {
    background: linear-gradient(to bottom, #0a0a0b, #1e1f26, #23242c, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#gradientBackground {
    background: radial-gradient(ellipse 100% 50% at center calc(100% + 20px), #3d3d4b 0%, #1b1b21 60%, #000000 100%);
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-text-fill-color: #000000;
}

#reincarnation {
    background: radial-gradient(circle at center, #454755 0%, #000000 90%);
}

[data-tooltip]::before {
    font-family: 'DM Sans';
    position: absolute;
    top: 110px;
    left: 80px;
    content : attr(data-tooltip);
    transition: 1s ease-out;

    background: #0e0e10;
    border: 0.1px solid #23242c;
    color: #3d3d4b;
    display: flex;
    width:fit-content;
    padding: 15px;

    opacity : 0;
}

[data-tooltip]:hover::before {
    
    background: #0e0e10;
    font-family: 'DM Sans';
    border: 0.1px solid #23242c;
    color: #3d3d4b;
    display: flex;
    width:fit-content;
    padding: 15px;
    position: absolute;
    top: 110px;
    left: 80px;
    transition: .4s ease-out;

    opacity: 1;
}

[data-tooltip]:not([data-tooltip-persistent])::before {
    pointer-events: none;
    transition: .4s ease-out;
}
    

/* CIRCLE FOR SEEK */

#glow {
    opacity: 0%;
    position: fixed;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: radial-gradient(circle at center, #ffffff 0%, #373739 35%, #00000000 50%);
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: -1;
    left: 50%;
    top: 50%;
}